
<nav class="navbar-bottom navbar-fixed-bottom text-center"> 
	<span class="col-sm-4 bottom-active">Local</span>
	<span><button class="col-sm-4 btnBSafes">BSafes.com</button></span>
	<span><button class="col-sm-4 btnDownloads">Downloads</button></span>
</nav>

<script type="text/javascript">
	
</script>
